/* #mainContainer {
    border: solid black 1px;
    border-radius: 8px;
} */

.row {
    border: solid black 1px;
    border-radius: 8px;
}

#mainContainer {
    padding: 20px;
}

form {
    width: 80%;
}

#jumbo {
    /* background: black; */
    color: white;
    text-align: center;
    border-radius: 8px;
    background-image: url("../images/1339875.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url("../images/thumb-1920-672793.jpg");
    color: aqua;
}

.color, .submitbutton {
    color: aqua;
}

.card, .form-control {

    background-color: rgba(255,255,255,0.2);

}

.submitbutton {
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 8px;
        width: 80%;
        max-width: 200px;
        background: #fff; /* fallback color for old browsers */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        letter-spacing: 1px;
        transition: all 0.3s ease-out;
        
}

.fire {
    border: none;
}

td {
    color: aqua;
}

.submitbutton, .pagetitle {
    color: aqua;
}

